
@using NonFactors.Mvc.Grid
@model HU.Models.AdminFigureTypesViewModel

<script>
    $(function () {
        $('.modal-open').click(function () {
            var url = $(this).attr('href');
            $.get(url, function (data) {
                $('.modal-content').html(data);
                $('.modal').modal('show');
            });

            return false;
        });

        $('.delete-figureType').click(function () {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                data: $(this).serialize(),
                success: function (res) {
                    if (res.success) {
                        location.reload();
                    }
                }
            });

            return false;
        });
    })
</script>

@Html.Partial("AdminMenu")
<div class="container">
    @Html.Partial("Modal")
    <div>
        @(Html
              .Grid(Model.FigureTypes)
              .Build(columns =>
              {
                  columns.Add(model => model.FigureTypeName).Titled("Тип постаті").Css("table-cell");
                  columns.Add().Encoded(false)
                      .RenderedAs(o => (
                          Html.ActionLink("Редагувати", "UpdateFigureType", "Admin", new { figureTypeId = o.FigureTypeId }, new { @class = "btn btn-default modal-open"})
                          )
                      ).Css("table-cell");
                  ;
                  columns.Add().Encoded(false)
                      .RenderedAs(o => (
                          Html.ActionLink("Видалити", "DeleteFigureType", "Admin", new { figureTypeId = o.FigureTypeId }, new { @class = "btn btn-default delete-figureType" })
                          )
                      ).Css("table-cell");
                  ;
              })
              .Empty("Даних не знайдено")
              .Filterable()
              .Pageable(pager =>
              {
                  pager.RowsPerPage = 10;
              }))

    </div>

    @Html.ActionLink("Додати тип постаті", "UpdateFigureType", "Admin", new { }, new { @class = "btn btn-primary modal-open"})
</div>