<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<style>
    .modal-body{
        max-height: 450px;
        overflow-y: auto;
    }     
</style>